@media screen and (min-width: 480px) {
  .last-text {
    font-size: 14px;
    text-align: center;
    color: #939393;
    font-family: var(--font-family);
    font-weight: 400;
        width: 250px;
        margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
    .last-text {
        font-size: 16px;
        width: 520px;
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media screen and (min-width: 1200px) {
  .last-text {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 60px;
  }
}
