.header {
  // background: url('/src/images/pic.png') lightgray 0px -200px / 100% 200% no-repeat;
  background-image: url('/src/images/pic.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}


body {
margin: 0 auto;
background-image:
url('/src/images/decor.png'),
url('/src/images/bgBody.jpg');
background-repeat: no-repeat, no-repeat;
background-position: center top, center center;
background-size: contain, cover;  
}

.header {
  width: 320px;
  height: 364px;
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    height: 364px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1280px;
    height: 446px;
  }
}
