<div class="cards">
    <!-- <div class="card">
        <p class="card-text eu-card">
            Eu Card
        </p>
    </div> -->
    <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <img src="./images/atlas-img.1.png" alt="" class="atlas-img">
              <button type="button" href="" class="exit-button" data-modal-close>
                <svg width="11" height="11" class="exit-icon">
                <use></use>
              </svg>
            </div>
          </div>
    <!-- <div class="card">
        <p class="card-text at-card">
            Atlas Card
        </p>
    </div>
    <div class="card">
        <p class="card-text lp-card">
            LP Card
        </p>
    </div>
    <div class="card">
        <p class="card-text mon-card">
            Monatik Card
        </p>
    </div> -->
</div>