<section class="cards">
  <div class="container">
    <ul id="cards-container">
      <li class="card">
        <img
          src="./images/eurovision.png"
          alt="eurovision"
          class="cards__img"
        />
        <div class="text__wrapper">
          <h3 class="cards__title">Eurovision 2021 finals!</h3>
          <p class="cards--date">2021-05-13</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/blackeyed.png" alt="blackeyed" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">Atlas Weekend</h3>
          <p class="cards--date">2021-06-09</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/lp.png" alt="LP" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">LP</h3>
          <p class="cards--date">2021-07-27</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/monatik.png" alt="Monatik" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">MONATIK</h3>
          <p class="cards--date">2021-07-17</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/monatik.png" alt="Monatik" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">MONATIK</h3>
          <p class="cards--date">2021-07-17</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/lp.png" alt="LP" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">LP</h3>
          <p class="cards--date">2021-07-27</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/blackeyed.png" alt="blackeyed" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">Atlas Weekend</h3>
          <p class="cards--date">2021-06-09</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img
          src="./images/eurovision.png"
          alt="eurovision"
          class="cards__img"
        />
        <div class="text__wrapper">
          <h3 class="cards__title">Eurovision 2021 finals!</h3>
          <p class="cards--date">2021-05-13</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/blackeyed.png" alt="blackeyed" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">Atlas Weekend</h3>
          <p class="cards--date">2021-06-09</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img
          src="./images/eurovision.png"
          alt="eurovision"
          class="cards__img"
        />
        <div class="text__wrapper">
          <h3 class="cards__title">Eurovision 2021 finals!</h3>
          <p class="cards--date">2021-05-13</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/monatik.png" alt="Monatik" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">MONATIK</h3>
          <p class="cards--date">2021-07-17</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/lp.png" alt="LP" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">LP</h3>
          <p class="cards--date">2021-07-27</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
          <img
            src="./images/eurovision.png"
            alt="eurovision"
            class="cards__img"
          />
          <div class="text__wrapper">
            <h3 class="cards__title">Eurovision 2021 finals!</h3>
            <p class="cards--date">2021-05-13</p>
            <div class="icon__wrapper">
              <img
                src="./images/Vector (1).png"
                alt="Location"
                class="location__img"
              />
              <p class="cards--location">Palace of Ukraine</p>
            </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/monatik.png" alt="Monatik" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">MONATIK</h3>
          <p class="cards--date">2021-07-17</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/lp.png" alt="LP" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">LP</h3>
          <p class="cards--date">2021-07-27</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/blackeyed.png" alt="blackeyed" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">Atlas Weekend</h3>
          <p class="cards--date">2021-06-09</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/lp.png" alt="LP" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">LP</h3>
          <p class="cards--date">2021-07-27</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/blackeyed.png" alt="blackeyed" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">Atlas Weekend</h3>
          <p class="cards--date">2021-06-09</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img src="./images/monatik.png" alt="Monatik" class="cards__img" />
        <div class="text__wrapper">
          <h3 class="cards__title">MONATIK</h3>
          <p class="cards--date">2021-07-17</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">VDNH</p>
          </div>
        </div>
      </li>

      <li class="card">
        <img
          src="./images/eurovision.png"
          alt="eurovision"
          class="cards__img"
        />
        <div class="text__wrapper">
          <h3 class="cards__title">Eurovision 2021 finals!</h3>
          <p class="cards--date">2021-05-13</p>
          <div class="icon__wrapper">
            <img
              src="./images/Vector (1).png"
              alt="Location"
              class="location__img"
            />
            <p class="cards--location">Palace of Ukraine</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
