
  <header class="header">
    <div class="header-logo">
      <img src="/src/images/favicon.png" alt="" />
    </div>
    <h1 class="headline">FIND BEST EVENTS <br> AROUND THE WORLD</h1>
    <div class="header-inputs">
      <div class="header-search-bar">
        <input class="search-icon" type="text" placeholder="Start searching" />
         <svg class="header-icon"  width="13" height="13" >
                  <use href="/sprite/search icon.svg">
                  </use> </svg>
      </div>
      <div class="header-country-bar">
        <input class="country-icon" type="text" placeholder="Choose country" />
         <svg class="header-icon" width="16" height="11" >
                  <use href="/sprite/Polygon 1.svg">
                  </use> </svg>       
      </div>
    </div>
  </header>
