
<div class="overlay is-hidden" data-modal>
  <div class="modal">
    <button class="close-btn" data-modal-close>×</button>
    <div class="modal-content">
      <div class="avatar">
        <img src="./png/pic (2).png" alt="Event Avatar">
      </div>
      <div class="modal-body">
        <div class="modal-image">
          <img src="./png/pic (2).png" alt="Event Poster">
        </div>
        <div class="modal-info">
          <h3 class="info-title">INFO</h3>
          <p>Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will create a proper music festival atmosphere on 10 stages</p>
          <h3>WHEN</h3>
          <p>2021-06-09<br>20:00 (Kyiv/Ukraine)</p>
          <h3>WHERE</h3>
          <p>Kyiv, Ukraine<br>VDNH</p>
          <h3>WHO</h3>
          <p>The Black Eyed Peas</p>
          <h3>PRICES</h3>
          <p> <img src="./png/ticket1.png" alt="" class="modal-png"> Standart 300-500 UAH</p>
          <button class="buy-btn">BUY TICKETS</button>
          <p>  <img src="./png/ticket1.png" alt="" class="modal-png"> VIP 1000-1500 UAH</p>
          <button class="buy-btn">BUY TICKETS</button>
        </div>
      </div>
      <button class="more-btn">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div>
